@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}
.gradient-brown {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #faf3de 0.89%,
    rgb(253, 204, 107) 17.23%,
    rgb(248, 167, 67) 42.04%,
    #ebdb7d 55.12%,
    rgb(248, 240, 130) 71.54%,
    #cf8e33 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2em; /* Adjust the font size as needed */
  font-weight: bold; /* Adjust the font weight as needed */
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;  /* Adjust this value to control the distance from the bottom */
  left: 20px;    /* Adjust this value to control the distance from the left */
  z-index: 999;  /* Ensure the button appears above other content */
}

.whatsapp-button img {
  width: 50px;   /* Adjust the width of the icon */
  height: auto;  /* Maintain aspect ratio */
}

.bg-hero {
  background-image: url("./src/assets/hero.png")

}

.bg-values {
  background-image: url("./src/assets/bg-values.png");

}

.watermark {
  position: absolute;
  top: -32px; /* Adjust the positioning of the watermark */
  right: 10px; /* Adjust the positioning of the watermark */
  opacity: 0.3; /* Adjust the opacity of the watermark */
 
}


.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    rgb(152, 181, 156) 0.89%,
    #678b4e 17.23%,
    #54a448 42.04%,
    #356c44 55.12%,
    #317e3b 71.54%,
    #25783b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}



/* Green Gradient */
.green__gradient {
  background: linear-gradient(180deg, rgba(173, 255, 189, 0) 0%, #1c8b50 100%);
  filter: blur(123px);
}

/* Yellow Gradient */
.yellow__gradient {
  background: linear-gradient(180deg, rgba(255, 241, 173, 0) 0%, #d5c039 100%);
  filter: blur(123px);
}



.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
